.ff1{font-family:"ff1";line-height:1.008000;}
.ff2{font-family:"ff2";line-height:0.724000;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-8.256000px;}
._0{margin-left:-4.052400px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(29,19,0);}
.fs0{font-size:44.000000px;}
.fs1{font-size:64.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:0.198000px;}
.y5{bottom:3.960000px;}
.y3{bottom:434.880000px;}
.y1{bottom:467.682000px;}
.y8{bottom:581.964000px;}
.y7{bottom:614.766000px;}
.y6{bottom:635.004000px;}
.y4{bottom:659.004000px;}
.h1{height:12.672000px;}
.h4{height:15.642000px;}
.h5{height:16.632000px;}
.h2{height:33.792000px;}
.h3{height:45.952000px;}
.h0{height:864.000000px;}
.w1{width:56.892000px;}
.w2{width:77.268000px;}
.w4{width:124.773000px;}
.w3{width:210.339000px;}
.w0{width:594.000000px;}
.x2{left:-1.582800px;}
.x0{left:0.000000px;}
.x5{left:191.946000px;}
.x6{left:233.797500px;}
.x3{left:254.568600px;}
.x7{left:255.900600px;}
.x4{left:259.158000px;}
.x1{left:268.644000px;}
