.ff1{font-family:"ff1";line-height:0.996000;}
.ff2{font-family:"ff2";line-height:1.008000;}
.ff3{font-family:"ff3";line-height:1.008000;}
.ff4{font-family:"ff4";line-height:0.724000;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.800000px;}
.ls1{letter-spacing:-0.400000px;}
.ls2{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.wsd{word-spacing:-1.440000px;}
.ws6{word-spacing:-1.240000px;}
.ws3{word-spacing:-0.880000px;}
.ws4{word-spacing:0.000000px;}
.ws8{word-spacing:0.400000px;}
.ws1{word-spacing:0.800000px;}
.wsc{word-spacing:2.360000px;}
.ws2{word-spacing:2.560000px;}
.ws0{word-spacing:3.080000px;}
.ws9{word-spacing:3.480000px;}
.ws7{word-spacing:4.720000px;}
.wsa{word-spacing:5.960000px;}
.ws5{word-spacing:9.760000px;}
.wsb{word-spacing:14.080000px;}
._1{margin-left:-10.612000px;}
._4{margin-left:-5.160000px;}
._3{margin-left:-3.640000px;}
._2{margin-left:-1.136000px;}
._0{width:2.000000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(29,19,0);}
.fs0{font-size:40.000000px;}
.y0{bottom:0.000000px;}
.y4{bottom:0.179700px;}
.yc{bottom:3.419700px;}
.y2{bottom:3.599700px;}
.y18{bottom:314.481000px;}
.y19{bottom:318.080700px;}
.y17{bottom:332.481000px;}
.y16{bottom:350.481000px;}
.y15{bottom:386.481000px;}
.y14{bottom:404.481000px;}
.y13{bottom:422.481000px;}
.y11{bottom:494.481000px;}
.y12{bottom:498.080700px;}
.y10{bottom:512.481000px;}
.yf{bottom:548.481000px;}
.ye{bottom:566.481000px;}
.yd{bottom:584.481000px;}
.yb{bottom:620.661000px;}
.ya{bottom:638.481000px;}
.y9{bottom:656.481000px;}
.y8{bottom:692.481000px;}
.y7{bottom:710.481000px;}
.y6{bottom:728.481000px;}
.y5{bottom:746.481000px;}
.y1{bottom:764.481000px;}
.y3{bottom:767.901000px;}
.h3{height:7.290000px;}
.h6{height:14.938500px;}
.h1{height:14.940000px;}
.h8{height:15.118500px;}
.h5{height:15.120000px;}
.h7{height:28.720000px;}
.h2{height:30.240000px;}
.h4{height:30.720000px;}
.h0{height:864.000000px;}
.w2{width:23.235000px;}
.wb{width:54.195000px;}
.wc{width:150.102000px;}
.w1{width:170.958000px;}
.wf{width:174.522000px;}
.wd{width:211.857000px;}
.w3{width:239.094000px;}
.wa{width:293.890500px;}
.w10{width:347.740500px;}
.w7{width:398.470500px;}
.we{width:443.565000px;}
.w6{width:444.375000px;}
.w5{width:444.615000px;}
.w9{width:444.690000px;}
.w4{width:445.080000px;}
.w8{width:445.320000px;}
.w0{width:594.000000px;}
.x2{left:-1.350000px;}
.x0{left:0.000000px;}
.x5{left:89.442000px;}
.x1{left:90.612000px;}
.x6{left:241.645500px;}
.x3{left:266.488500px;}
.x4{left:295.668000px;}
.x8{left:441.756750px;}
.x7{left:458.857350px;}
