.ff1{font-family:"ff1";line-height:0.967000;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:0.000000px;}
.ls0{letter-spacing:0.300000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.ws0{word-spacing:0.000000px;}
.ws1{word-spacing:0.630000px;}
._1{margin-left:-16.881000px;}
._5{margin-left:-7.938000px;}
._4{margin-left:-3.327000px;}
._3{margin-left:-2.190000px;}
._0{margin-left:-1.050000px;}
._2{width:1.281000px;}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:30.000000px;}
.y0{bottom:0.000000px;}
.y1a{bottom:204.465150px;}
.y19{bottom:231.465150px;}
.y18{bottom:244.965150px;}
.y17{bottom:258.465150px;}
.y16{bottom:285.465150px;}
.y15{bottom:298.965150px;}
.y14{bottom:312.465150px;}
.y13{bottom:325.965150px;}
.y12{bottom:339.465150px;}
.y11{bottom:352.965150px;}
.y10{bottom:366.465150px;}
.yf{bottom:379.965150px;}
.ye{bottom:393.465150px;}
.yd{bottom:420.465150px;}
.yc{bottom:447.465150px;}
.yb{bottom:487.965150px;}
.ya{bottom:501.465150px;}
.y9{bottom:514.965150px;}
.y8{bottom:595.965150px;}
.y7{bottom:609.465150px;}
.y6{bottom:622.965150px;}
.y5{bottom:649.965150px;}
.y4{bottom:663.465150px;}
.y3{bottom:690.465150px;}
.y2{bottom:703.965150px;}
.y1{bottom:730.965150px;}
.h1{height:21.840000px;}
.h0{height:864.000000px;}
.w0{width:594.000000px;}
.x0{left:0.000000px;}
.x9{left:66.428100px;}
.xd{left:72.334350px;}
.xe{left:74.179350px;}
.xf{left:75.720600px;}
.x10{left:77.666850px;}
.x8{left:85.294350px;}
.x4{left:125.355600px;}
.x5{left:134.535600px;}
.xb{left:145.335600px;}
.xa{left:170.096850px;}
.x12{left:174.641850px;}
.xc{left:179.625600px;}
.x2{left:197.321850px;}
.x3{left:210.270600px;}
.x11{left:220.305600px;}
.x14{left:231.420600px;}
.x13{left:242.456850px;}
.x6{left:249.173100px;}
.x7{left:253.166850px;}
.x1{left:255.304350px;}
